/* Centrado del panel principal */
.admin-panel {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
}


ul { 
  list-style: none;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  background-color: #f1faff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 119, 182, 0.1);
}

/* Inputs y selects */
form input,
form select {
  flex: 1 1 200px;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #ffffff;
}


form button {
  padding: 0.6rem 1.2rem;
  background-color: #0077b6;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#btn-buscar-dni {
    padding: 10px 20px;
    background: #1769aa;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s;
}
#btn-buscar-dni:hover {
    background: #0d4f83;
}


#btn-crear-turno {
    width: 100%;
    padding: 14px;
    background: #27a844;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.2s;
}

#btn-crear-turno:hover {
    background: #1c7e32;
}

------------------ */

#resultado-busqueda {
    background: #e3f2fd;
    padding: 12px;
    border-radius: 8px;
    border-left: 5px solid #1769aa;
    margin-top: 10px;
    font-size: 15px;
}



p {
    margin: 5px 0;
    font-weight: 600;
    color: #444;
}
form button:hover {
  background-color: #48bfe3;
}

/* Responsive para pantallas chicas */
@media (max-width: 600px) {
  form {
    flex-direction: column;
    align-items: stretch;
  }

  form input,
  form select,
  form button {
    width: 100%;
  }
}

