  .formulario-turno {

  max-width: 700px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #ffffff;
  border-left: 4px solid #0077b6;
  border-right: 4px solid #0077b6; /* ← línea azul derecha */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}


.formulario-turno h2 {
  text-align: center;
  color: #0077b6;
  margin-bottom: 2rem;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.full-width {
  grid-column: 1 / 3;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #023e8a;
}

input, select, textarea {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.form-actions {
  margin-top: 2rem;
  text-align: center;
}

.form-actions button {
  padding: 0.8rem 2rem;
  background-color: #0077b6;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.form-actions button:hover {
  background-color: #48bfe3;
  transform: scale(1.03);
}