.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  background-color: #e0f2f1;
  min-height: 400px;
}

.login-container {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#listaTurnos {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
  align-items: center;
}

.especialidad {
  width: 100%;
  max-width: 500px;
  background-color: #f1f1f1;
  padding: 1rem;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 119, 182, 0.1);
}