.especialidad button {
  margin-top: 1rem;
  background-color: #d62828;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.especialidad button:hover {
  background-color: #ef233c;
}